:root {
    /* Main Primary color */
    --color-primary-0 : #151f79 ;
    --color-primary-1 : #8494eb ;
    --color-primary-2 : #1532d4 ;
    
    /* Main Secondary colors */
    --color-secondary-0 : white;


    /* Main Tertiary color (2) */
    --color-tertiary-0 : #982966;
    --color-tertiary-1 : #bbbbbb;
    --color-tertiary-2 : #982966;
        
    /* Font Stuff*/
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;

    --border-radius: 5px;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --primary-shadow: #5c5c5c;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* CSS Resets, um standartwerte zu überschreiben */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--color-tertiary-1);
    transition: var(--transition);
  }

  section{
    margin-bottom: 3rem;
  }
  
  a:hover {
    color: var(--color-tertiary-0);
  }

  .burger-menu{
    color: var(--color-primary-0);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none; 
  }
  .contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--primary-shadow);
  }

  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--color-primary-0);
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--color-primary-0);
    font-size: 0.875rem;
    outline: none;
  }

  footer {
    background-color: var(--color-primary-0);
    padding: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: left;
    color: var(--color-secondary-0);
    margin: 1rem 0 0;
  }

  .footer-section{
    margin: 2rem;    
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    width: 61.2%;
    height: 61.2%;
  }

  .highlight-box{
    padding: 0.625rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 var(--border-radius) var(--primary-shadow);
  }
  
  .highlight-box h1 {
    margin-bottom: var(--bottom-margin);
  }

  .icon-card{
    width: 12rem;
    max-width: 200px;
    padding: 1.5rem;
    margin: 0 0.75rem;
  }

  .main-icon{
    alt: "Logo not found";
    width: 2rem;
    height: 2rem;
  }

  .more-about {
    background-color: var(--color-tertiary-1);
    padding: 1rem 6rem;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

  .nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: left;
    background-color: var(--color-primary-0);
    box-shadow: 0 3px 5px rgb(97, 93, 93);
  }

  .nav-bar ul{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    gap: 2rem
  }

  .nav-bar h1{
    color: var(--color-secondary-0);
    margin: 0 1.5rem;
  }
  .nav-bar img{
    margin: 0 1.5rem;
  }
  .projects{
    background-color: var(--color-tertiary-1);
  }

  .projects-container{
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .projects-header{
    text-align: center;
    padding: var(--bottom-margin);
  }

  .project-card{
    margin: 0 0.75rem;
    width: 20rem;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .project-card img{
    width: 80%;
    height: 80%;
    align-self: center;
  }

  .project-card h3{
    padding: 0.4rem;  
  }

  .project-card p {
    padding: 0.4rem;  
  }

  .project-card a {
    padding: 0.4rem;  
    color: var(--color-primary-2);
  }

  .project-card a:hover {
    color: var(--color-primary-0);
  }

  .skills{
    background-color: var(--color-secondary-0);
  }

  .skills h2{
    text-align: center;
  }

  .skills-wrapper{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }

  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }
  
  .social-icon {
    width: 2rem;
    height: 2rem;
  } 

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--color-primary-0);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }

  .submit-btn:hover {
    background-color: var(--color-primary-0);
    color: #fff;
    cursor: pointer;
  }